NODE_ENV=development
PORT=4000

APP_URL="http://localhost:${PORT}"
ALLOWED_ORIGINS=http://localhost:3000

PG_USER=postgres
PG_PASSWORD=password
PG_HOST=localhost
PG_PORT=5432
PG_DATABASE=database_name
PG_URI="postgres://${PG_USER}:${PG_PASSWORD}@${PG_HOST}:${PG_PORT}/${PG_DATABASE}"

REDIS_USER=default
REDIS_PASSWORD=pass123456
REDIS_HOST=176.117.78.142
REDIS_PORT=6379
REDIS_URI="redis://${REDIS_USER}:${REDIS_PASSWORD}@${REDIS_HOST}:${REDIS_PORT}"
