NODE_ENV=:'development'
PORT=4000

APP_URL="http://localhost:${PORT}"
ALLOWED_ORIGINS=http://localhost:3000

PG_USER='postgres'
PG_PASSWORD='password'
PG_HOST='host'
PG_PORT=port
PG_DATABASE='database_name'
PG_URI="'postgres://${PG_USER}:${PG_PASSWORD}@${PG_HOST}:${PG_PORT}/${PG_DATABASE}'"

REDIS_USER='redis_user'
REDIS_PASSWORD='redis_password'
REDIS_HOST='redis_host'
REDIS_PORT=redis_port
REDIS_URI="redis://${REDIS_USER}:${REDIS_PASSWORD}@${REDIS_HOST}:${REDIS_PORT}"
